<nav class="navbar navbar-expand-lg bg-dark" data-bs-theme="dark">
    <div class="container-fluid">
      <a class="navbar-brand" href="#">BankApp</a>
      <div class="collapse navbar-collapse" id="navbarColor02">
        <ul class="navbar-nav me-auto">
          <li class="nav-item">
            <a class="nav-link active" href="#">Prestamos <span class="visually-hidden">(current)</span> </a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/clientes">Clientes</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/plazos">Plazos</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/montos">Montos</a>
          </li>
        </ul>
        <form class="d-flex">
          <input class="form-control me-sm-2" type="search" placeholder="Buscar Clientes">
          <button class="btn btn-secondary my-2 my-sm-0" type="submit">Buscar</button>
        </form>
      </div>
    </div>
  </nav>