<div *ngIf="loading" class="container">
</div>

<div *ngIf="!loading" class="container">
  <div class="title">
    <h4>Clientes</h4>
    <button type="button" class="btn btn-primary" routerLink="/addCliente">Crear Cliente</button>
  </div>
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Nombre de Cliente</th>
        <th>Acciones</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of listClients">
        <td>{{ item.nombreCliente }}</td>
        <td>
          <button routerLink="/editCliente/{{ item.idClientes }}" type="button" class="btn btn-info btn-sm ms-2">Edit</button>
          <button type="button" class="btn btn-danger btn-sm" (click)="deleteClient(item.idClientes)">Eliminar</button>
        </td>
      </tr>
    </tbody>
  </table>
</div>
