
<div class="container">
    <div class="title">
        <h4>Prestamo Cliente</h4>
        <button type="button" class="btn btn-primary" routerLink="/add">Crear Prestamo</button>
    </div>
    <table class="table table-hover">
        <thead>
          <tr>
            <th>Nombre</th>
            <th>Monto</th>
            <th>Plazo</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <td></td>
            <td></td>
            <td></td>
            <td>
                <button  type="button" class="btn btn-info btn-sm ms-2">Editar</button>
                <button type="button" class="btn btn-danger btn-sm">Eliminar</button>
            </td>
          </tr>
        </tbody>
      </table>
</div>
