<div class="container mt-4">
  <div class="row justify-content-center">
    <div class="col-lg-4">
      <div class="card border-secondary mb-3" style="max-width: 30rem;">
        <div class="card-header text-center">{{ operacion }}Cliente</div>
        <div class="card-body">
          <form [formGroup]="form" (ngSubmit)="addClient()">
            <div>
              <div>
                <label for="nombre" class="form-label mt-4">Escribe el Nombre del Cliente</label>
                <input type="text" class="form-control" id="nombre" formControlName="nombre" placeholder="Cliente">
              </div>
            </div>
            <div class="row mt-2 text-center">
              <div class="col-lg-6">
                <button type="submit" class="btn btn-info btn-sm mt-4">{{ operacion }}</button>
              </div>
              <div class="col-lg-6">
                <button routerLink="/clientes" type="button" class="btn btn-secondary btn-sm mt-4">Volver</button>
              </div>
            </div>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>